*{
    margin:0;
    padding:0;
    background-color: #0D1117;
  }

  body{
    background-color: #0D1117;
  }

  header{
    justify-content: center;  
    height: 10vh;
    display:flex;
  }

  nav{
    max-width: 1544px; 
  }
  
  a{
    color: #767D88;
  }

  a:hover{
    color: #767D88;
  }

  #logo{
    align-items: center;
    width: 100%;
    height: 10vh;
  }
  
  #logo img{
    height: 8vh;
  }
  #display{
    width: 50vw;
  }
  
  #user{
    width: 20vw;
  }
  
  main{
    color: #767D88;
    display: flex;
    justify-content: center;
    min-height: 80vh;
  }

  container{
    border: #767D88;
    min-width: 80vw;
    max-width: 1144px;
    display: block;
  }

  #add-note{
    display: flex;
    justify-content: space-around;
  }

  #add-note a{
  
    float: left;
  }
  
  #notes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card a{
    text-decoration: none;
  }
  
  #modal-view{
    border:1px solid #767D88;
    border-radius: 40px;
    position: absolute;
    display:none;
    max-width: 1144px;
    padding:30px;
    min-width: 80vw;
  }
  
  #close-modal{
    float:right;
  }
  
  #modal{
    border: 1px solid #767D88;
    border-radius: 40px;
    position: absolute;
    padding:4vh 4vw;
    display:none;
    max-width: 1144px;
    min-width: 80vw;
  }
  
  #controls-note{
    display:flex;
    gap:10px;
  }
      